/*===================================================
                HEADER
 ==================================================*/
header {
    font-family: 'Roboto Condensed', sans-serif;
}

.logo {
    height: 48px;
}

/*===================================================
                MAIN CONTENT
===================================================*/
.main-content {
    margin-top: 40px;
}

.carousel-inner, nav {
    box-shadow: 0 0 20px 0 #222;
}

.slideshow img {
    width: 100%;
    height: 550px;
}

/* =================================================
                CARD BODY BUTTONS
================================================== */
.btn {
    font-family: 'Roboto Condensed', sans-serif;
}

.btn-pl, .btn-laliga, .btn-bundes {
    width: 125px;
}

/* ==================================================
                CARD HEADER
================================================== */
.main-content h6 {
    font-family: 'Roboto Condensed', sans-serif;
}
.card-header, .card-footer {
    font-family: 'Roboto Condensed', sans-serif;
}

/* ==================================================
                HEAD TITLE
===================================================*/
.head-title {
    padding: 30px 0 30px 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.head_title h2 {
    color:#231f20;
    line-height: 4rem;
    font-family: 'Roboto Condensed', sans-serif;
}

/*====================================================
                ABOUT SECTION
 ===================================================*/
.about-section {
    background-color: rgba(0, 0, 0, 0.80);
} 

.header {
    background-image: url("../img/about/about.jpg");
    background-position: center;
    background-size: cover;
    height: 580px;
}

.header-text {
    height: 200px;
    margin: 5px 0 80px 0;
}

.header-text span {
    padding-top: 50px;
}

.header-text p {
    color: #fff;
    font-size: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-title, .latest-title {
    color:#fff;
    margin: 20px 0px;
    font-family: 'Roboto Condensed', sans-serif;
}

.about-text {
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    text-transform: capitalize;
    font-family: 'Roboto Condensed', sans-serif;
}

.about .carousel-inner {
    box-shadow: none;
}

#about .typed {
    opacity: 0.6;
    color: #fff;
    margin: 0 auto;
    font-size: 25px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 1.5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.typed-cursor{
    opacity: 0;
}

/*==================================================
                    LATEST
================================================= */
.latest {
    height: 600px;
    background-color: rgba(3, 9, 20, 0.80);
}

.card-latest {
    width: 22rem;
}

.imageColumn {

}

data-styled.g4[id="textRegularStyled"] {
    content: "athletico, villareal, osasuna";
}

data-styled.g33[id="imageColumn"] {
    content: "cardImage";
}

data-styled.g34[id="competitionTitle"] {
    content: "cardTitle";
}

data-styled.g35[id=""] {

}

.imageColumn span {
    vertical-align: inherit;
}

.athletico {
    width: 100%;
    height: 1.5rem;
    background-color: #0077C8;
    display: -webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;display:flex;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-align-items:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-flex-shrink:0;
    -ms-flex-negative:0;
    flex-shrink:0;
    z-index:50;
}

.athletico .title-competition {
    font-weight: bold;
}

data-styled.g37[id="imagePortion"] {
    content: "athleticoImage";
}

.gmTIxE {
    width:100%;
    position:relative;
    margin-top:-1.5rem;
    padding-bottom:56.25%;
}

.gmTIxE img {
    top:0;
    left:0;
    width:100%;
    height:100%;
    position:absolute;
}

.gmTIxE > a {
    display:block;height:100%;
}

.imageAnimation {
    transform:scale(1.2);
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
}

/*==================================================
                    SCORE
==================================================*/
.dropdown-item .score {
    line-height: 2rem;
}

.dropdown-item .score {
    padding: 0;
    color: #2e2828;
    font-weight: 400;
    font-size: 1.3rem;
    min-width: 4.6rem;
    text-align: center;
    line-height: 2.4rem;
    background: #f7f7f7;
    font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-item .score span {
    margin-right: 0;
    color: #f7f7f7;
    line-height: 2rem;
    position: relative;
    vertical-align: baseline;
    padding: 0 .6rem 0 .5rem;
}

.dropdown-item .score span::before {
    left: 50%;
    top: .2rem;
    content: "";
    width: .1rem;
    display: block;
    height: 1.5rem;
    position: absolute;
    background: hsla(0,0%,100%,.2);
}

/*==================================================
                    IMAGE BADGES
 =================================================*/
.dropdown-item .badge {
    min-width: 2rem;
}

.dropdown-item .badge {
    margin: 0 .5rem;
}

/*==================================================
                    TEAMS
 =================================================*/
 .dropdown-item .teamName {
     min-width: 0;
 }

 .dropdown-item .teamName {
    font-weight: 400;
    min-width: 3.1rem;
    font-size: 1.1rem;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
 }

.dropdown-item abbr[title] {
    text-decoration:none;
    font-family: 'Roboto Condensed', sans-serif;
}

.dropdown-item abbr[title]:hover {
    cursor:pointer;
}

/*==================================================
                    CONTACT
 =================================================*/
.section {
	text-align: center;
}

.row {
    margin-bottom: 0;
}

.main_contact_area {
    overflow: hidden;
}

.main_contact_area {
    width:100%;
}

.main_contact_area {
    padding: 20px;
    margin-bottom: 50px;
    animation: fadeIn 1s;
    display: inline-block;
    -webkit-animation: fadeIn 1s;
}

.main_contact_area {
    color: #231f20;
    font-weight: 300;
}

.contact h2 {
    padding-bottom: 30px;
}

.contact .vira-card {
	padding: 34px 0;
	margin-bottom: 40px;
	background-color: #ededed;
	transition: all 0.3s ease-in-out;
    font-family: 'Roboto Condensed', sans-serif;
    box-shadow: 0 2px 5px -3px rgba(0,0,0,.9);
}

.contact .vira-card:hover {
    color: white;
    background: #4d4d4d;
}

.contact .fa-map-o:hover, .fa-paper-plane:hover, .fa-phone:hover {
    color: white;
}

.contact .vira-card .vira-card-header {
	font-size: 20px;
	color: #4d4d4d;
	margin-bottom: 30px;
}

.contact .vira-card .vira-card-content h4 {
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.contact .vira-card .vira-card-content h4:after {
	top: 40px;
}

.contact .vira-card .vira-card-content p {
	font-size: 16px;
}

/*=================================================
                FOOTER
=================================================*/
.footer {
    background-color: #212529;
    font-family: 'Roboto Condensed', sans-serif;
}

.footer p {
    padding-top: 15px;
}
